//## COLORS

$white:         #fff;
$black:         #000;
$purple:        #46025d;

//## FONTS

$font-family-sans-serif:  'Poppins', helvetica, arial, sans-serif;

//## MEDIA QUERIES

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 959px;
$screen-md-min: 960px;
$screen-lg-min: 1200px;
$screen-xl-min: 1420px;

//## TRANSITIONS

$easing:        ease-in-out;
$timing:        0.4s;
